@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

body, html {
  font-family: 'Lato';
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mainblock {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1198px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 90px;
  flex: 0 1 90px;
}

.header__logo img {
  max-width: 100%;
}

.header__text {
  font-size: 13px;
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: 300;
  opacity: 0.3;
}

.header__text span {
  margin: 0 15px 0 25px;
  font-size: 16px;
  color: #32b0ee;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  margin: 0 15px;
}

.header__list li:first-child {
  margin: 0 15px 0 0;
}

.header__list li:last-child {
  margin: 0 0 0 15px;
}

.header__link {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: relative;
}

.header__link:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1.5px;
  display: block;
  background-color: #32b0ee;
  opacity: 0.4;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link:hover:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 768px) {
  .header__wrapper {
    height: 50px;
  }
  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70px;
    flex: 0 1 70px;
  }
  .header__text {
    display: none;
  }
  .header__list li {
    margin: 0 10px;
  }
  .header__list li:first-child {
    margin: 0 10px 0 0;
  }
  .header__list li:last-child {
    margin: 0 0 0 10px;
  }
}

@media (max-width: 550px) {
  .header__burger {
    display: block;
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;
  }
  .header__burger:before {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #fff;
  }
  .header__burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #fff;
  }
  .header__burger:after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: '';
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #fff;
  }
  .header__burger.active:before {
    top: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .header__burger.active:after {
    top: 8px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header__menu {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 1;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 97, 91, 0.5);
    overflow: auto;
  }
  .header__menu.active {
    left: 0;
  }
  .header__list {
    margin: 80px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__list li {
    margin: 0 !important;
    padding: 0 0 28px 0;
  }
  .header__link {
    font-size: 26px;
  }
}

.header__color {
  background-color: rgba(29, 97, 91, 0.9);
}

.mainscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.main-info__wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-info__wrapper {
  height: 100vh;
  padding: 20% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.main-info__text {
  text-align: center;
}

.main-info__title {
  font-size: 62px;
  font-weight: 300;
  color: #ffffff;
}

.main-info__label {
  margin: 10px 0 22px 0;
  opacity: 0.9;
  font-size: 48px;
  font-weight: 300;
  color: #fff;
}

.main-info__label span {
  color: #0feb9e;
}

.main-info__subtitle {
  position: relative;
  display: inline-block;
  opacity: 0.9;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
}

.main-info__subtitle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -55px;
  width: 28px;
  height: 1px;
  background-color: #0feb9e;
}

.main-info__subtitle:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -55px;
  width: 28px;
  height: 1px;
  background-color: #0feb9e;
}

.main-info__links {
  margin: 80% 0 0 0;
}

.main-info__link {
  margin: 0 8px;
}

.main-info__link_g {
  padding: 0 0 0 2px;
}

@media (max-width: 768px) {
  .main-info__wrapper {
    padding: 30% 0 0 0;
  }
  .main-info__title {
    font-size: 52px;
  }
  .main-info__label {
    font-size: 38px;
  }
}

@media (max-width: 550px) {
  .main-info__wrapper {
    padding: 45% 0 0 0;
  }
  .main-info__title {
    font-size: 42px;
  }
  .main-info__label {
    font-size: 28px;
  }
  .main-info__subtitle {
    font-size: 16px;
  }
  .main-info__subtitle:before {
    width: 20px;
    left: -35px;
  }
  .main-info__subtitle:after {
    width: 20px;
    right: -35px;
  }
}

@media (max-width: 420px) {
  .main-info__title {
    font-size: 36px;
  }
  .main-info__label {
    margin: 10px 0 26px 0;
    font-size: 22px;
  }
  .main-info__subtitle {
    font-size: 14px;
  }
  .main-info__subtitle:before {
    width: 15px;
    left: -25px;
  }
  .main-info__subtitle:after {
    width: 15px;
    right: -25px;
  }
}
